@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    scrollbar-width: "thin";
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #616161;
    border-radius: 2px;
    height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    width: 10px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background-color: rgb(158, 158, 158);
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
    background-color: rgb(196, 196, 196);
}
.simplebar-track.simplebar-horizontal {
    height: 30px;
}

.swal2-popup {
    border: 1px solid white;
}
